<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

  <title></title>
  <!-- wct-browser-legacy -->
  <script src="aoflUnitTesting:wct-browser-legacy"></script>
</head>

<body>
  <div id="test-container"></div>
  <!-- js content -->
  aoflUnitTesting:js
  <script>
    // console.log('sample', JSON.stringify(WCT.share));
    // console.log('sample', JSON.stringify(window.__coverage__));
    // console.log('sample', JSON.stringify(gcv));
    WCT.share.__coverage__ = window.__coverage__ || {};
  </script>
</body>

</html>
