.slide-open {
  width: 0;
  transition: all 250ms ease-in;
}

.slide-open.animate {
  width: 20rem;
  overflow: hidden;
}

.slide-closed {
  width: 20rem;
  transition: all 250ms ease-in;
  overflow: hidden;
}

.slide-closed.animate {
  width: 0;
}

p {
  white-space: nowrap;
}
