<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>WCT</title>
</head>

<body>
  <div id="ce-es5-shim">
    <script>
      if (!window.customElements) {
        var ceShimContainer = document.getElementById("ce-es5-shim");
        ceShimContainer.parentElement.removeChild(ceShimContainer);
      }
    </script>
    <script src="../node_modules/@webcomponents/webcomponentsjs/custom-elements-es5-adapter.js"></script>
    <!-- custom-elements-es5-adapter -->
  </div>

  aoflUnitTesting:additionalScripts
  <script src="../node_modules/mocha/mocha.js"></script>
  <script src="../node_modules/chai/chai.js"></script>
  <script src="../node_modules/@polymer/test-fixture/test-fixture.js"></script>
  <script src="../node_modules/wct-mocha/wct-mocha.js"></script>
  <script src="../node_modules/sinon/pkg/sinon.js"></script>

  <div id="test-container"></div>
  aoflUnitTesting:js
  <script>
    window.WCT.share.__coverage__ = window.__coverage__;
  </script>
</body>

</html>