<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

  <title>PARTIALS</title>
  aoflUnitTesting:additionalScripts
  <script src="aoflUnitTesting:wct-browser-legacy"></script>
  <script src="aoflUnitTesting:fetch-mock"></script>
</head>

<body>
  <div id="test-container"></div>
  aoflUnitTesting:js
  <!-- js content -->
  <script>
    WCT.share.__coverage__ = window.__coverage__;
  </script>
</body>

</html>
