import styles from './template.css';
import template from './template';
import {AoflElement, customElement} from '@aofl/web-components/aofl-element';

/**
 * @summary __uppercamelcase__placeholder__
 * @extends {AoflElement}
 */
@customElement('__adddash__placeholder__')
class __uppercamelcase__placeholder__ extends AoflElement {
  /**
   * Creates an instance of __uppercamelcase__placeholder__.
   */
  constructor() {
    super();
  }

  /**
   * @readonly
   */
  static get is() {
    return '__adddash__placeholder__';
  }

  /**
   *
   * @return {Object}
   */
  render() {
    return super.render(template, [styles]);
  }
}

export default __uppercamelcase__placeholder__;
