:host {
  padding: 2rem;
}

aofl-select-list {
  display: flex;
}

aofl-list-option {
  align-items: center;
  border: 0.1rem solid #333;
  cursor: pointer;
  display: flex;
  height: 4rem;
  justify-content: center;
  width: 10rem;
}

aofl-list-option:not(:last-of-type) {
  border-right: none;
}
