:host {
  padding: 2rem;
}

aofl-select-list {
  width: 10rem;
  border: 1px solid black;
}

aofl-list-option {
  border-bottom: 1px solid black;
  cursor: pointer;
  text-align: center;
  padding: .5rem;
}

aofl-list-option:last-of-type {
  border: none;
}