.ease-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.ease-in.animate {
  opacity: 1;
}

.ease-out {
  opacity: 1;
  transition: opacity 250ms ease-out;
}

.ease-out.animate {
  opacity: 0;
}
