:host {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

:host canvas {
  width: inherit;
  height: inherit;
  max-height: inherit;
  max-width: inherit;
}

:host img {
  display: inline-block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
