import styles from './template.css';
import template from './template';
import {AoflElement, customElement} from '@aofl/element';
import {i18nMixin} from '@aofl/i18n-mixin';

import translations from '..';

/**
 * @summary __uppercamelcase__placeholder__
 * @extends {i18nMixin(AoflElement)}
 */
@customElement('__adddash__placeholder__')
class __uppercamelcase__placeholder__ extends i18nMixin(AoflElement) {
  /**
   * Creates an instance of __uppercamelcase__placeholder__.
   */
  constructor() {
    super();
    this.translations = translations;
  }

  /**
   * @readonly
   */
  static is = '__adddash__placeholder__';

  /**
   *
   * @return {Object}
   */
  render() {
    return super.render({
      default: {
        template,
        styles: [styles]
      }
    });
  }
}

export default __uppercamelcase__placeholder__;
